.headerOption {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 30px;
  color: #333 !important;
  cursor: pointer;
}

.headerOption__title {
  display: flex;
}

.headerOption__title > h3 {
  font-size: 12px;
  font-weight: 400;
}

.headerOption__icon {
  object-fit: contain;
  height: 26px !important;
  width: 27px !important;
}

.headerOption:hover {
  color: black;
}

.header__optionalIcon {
  object-fit: contain;
  height: 30px !important;
  width: 30px !important;
  margin-top: -7px;
}

@media screen and (max-width: 768px) {
  .headerOption__title > h3 {
    font-size: 15px;
  }
}
